#header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

#header1
{
    display: flex;
    margin-left: 150px;
    font-size: 25px;
    justify-content: center;
    color: #333333;
}
#header1 h1:hover
{
    color:#4A90E2;
}

.list
{
    font-size: 22.5px;
    list-style-type: none;
    margin-top: 40px;
    margin-right: 120px;
    padding: 5px;
    display: flex ;
    gap: 80px;
    justify-content: flex-end;  
     
}

.list a
{
    text-decoration: none; 
    color: #333333;
}

.list a:hover
{
    color: #4A90E2;
    text-decoration: underline;
}

.hero1
{
    background-color: #F7F7F7;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.hero1a
{
    display: flex;
    margin-top: 170px;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    font-size: larger;
}

.hero1b
{
    display: flex;
    justify-content: center;
    
}

.heroh1
{
    margin-bottom: 0;
    color: #4A4A4A;
}

.heroh2
{
    margin-top: 0;
    color: #4A4A4A;
}

.imagediv
{
    display: flex; gap: 20px;
    margin-top: 10px;
}

.aboutme1
{
    display: flex;
    flex-flow: row wrap;
    background-color: #F7F7F7;
}

.aboutme1a
{
    margin-left:20px;
    color: #4A4A4A;
    margin-top: 5px;
}

.aboutmeh1
{
    color: #4A4A4A;
    margin-left: 0px;
    font-size: 30px;
}

.aboutme1b
{
    margin-left: 30px;
    
}

.skills1
{
    display: flex;
    background-color: #F7F7F7;
    flex-flow: column wrap;
    
}

.skillimages
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 200px;
}

.projects
{
    display: flex;
    background-color: #F7F7F7;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}


.content
{
    color:#4A4A4A;
    align-items: center;
    font-size: xx-large;
}

.certi
{
    background-color: #F7F7F7;
    margin-top: -40px;
}



input[type="text"],
input[type="email"], input[type="number"]
{
    width: 70%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 1rem; 
    box-sizing: border-box; 
}


#message
{
    width: 70%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 1rem; 
    box-sizing: border-box;
}

#btn
{
    background-color: #F7F7F7;
    width: 20%;
    border: 2px solid #4A4A4A;
    border-radius: 10px;
    font-size: 20px;
    color: #4A4A4A;
}


.foot1
{
    display: flex;
    flex-flow: row wrap;
    background-color: black;
}
